@model HastaneRandevuSistemi.Models.Hastaneler
@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("Guncel", "AdminP", FormMethod.Post))
    {
            <div class="form-group">
                <label style="margin-top:10px;"> Hastane ID </label>
            @Html.TextBoxFor(m => m.HastaneID, new { @class = "form-control w-50", style = "margin-top:5px;", @readonly = true })
                <label style="margin-top:10px;">İl</label>
            @Html.DropDownListFor(m => m.Sehir.SehirlerID, (List<SelectListItem>)ViewBag.shr, new { @class = "form-control w-50", style = "margin-top:5px;" })
                <label style="margin-top:10px;">İlçe</label>
            @Html.DropDownListFor(m => m.Ilceler.IlcelerID, (List<SelectListItem>)ViewBag.ilc, new { @class = "form-control w-50", style = "margin-top:5px;" })
                <label style="margin-top:10px;"> Hastane Adı </label>
            @Html.TextBoxFor(m => m.HastaneAd, new { @class = "form-control w-50", style = "margin-top:5px;" })

                <div style="margin-top:20px;">
                    <button class="btn btn-warning">Hastane Güncelle</button>
                </div>
            </div>
    }
</div>