@model HastaneRandevuSistemi.Models.Hastaneler

<option value="">---Hastane Seçiniz---</option>
@if (ViewBag.Hastanelist != null)
{
    foreach (var item in ViewBag.Hastanelist)
    {
        <option value="@item.Value">@item.Text</option>
    }
}